---
layout: default
title: Home
---

<!--<p class="message">
  We are open almost every wednesday (from 7 pm) and saturday (from 2 pm)<br />
  Feel free to drop on by whenever we're open.
</p>-->
<p class="message">
  Pixelbar needs your help!

  After a disaster struck last <a href="https://pixelbar.nl/2023/06/28/Pixelbar-has-experienced-an-unexpected-issue/">28th of June 2023</a>, we are asking everyone to help rebuilding the physical space for this awesome community!

  Donation link via QR Code: <br /><div align="center"><img src="public/images/shared/28062023-Pixelbar-Disaster-Donations.png" alt_text="Please help us out"></div>
</p>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
