<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
    <a href="https://wiki.pixelbar.nl/index.php/Main_Page">Wiki </a>
    <a href="https://pixelbar.nl/workshops/">Workshops </a>

    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>