<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img id="logo" src="/public/logo.png">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://wiki.pixelbar.nl/index.php/Main_Page">Wiki</a>
  </nav>

  <div class="sidebar-item">
    <a class="ss-icon" href="https://github.com/pixelbar" target="_blank">&#xF671;</a>
    <a class="ss-icon" href="https://facebook.com/pixelbar010" target="_blank">&#xF610;</a>
    <a class="ss-icon" href="https://twitter.com/pixelbar010" target="_blank">&#xF611;</a>
    <a class="ss-icon" href="https://reddit.com/r/pixelbar" target="_blank">&#xF616;</a>
    <a class="ss-icon" href="https://www.linkedin.com/company/6612405" target="_blank">&#xF612;</a>
    <a class="ss-icon" href="/atom.xml">&#xE310;</a>
    <a class="ss-icon" href="mailto:bestuur@pixelbar.nl">&#x2709;</a>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
