<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="{{ site.url }}/" class="sidebar-logo">
      <img id="logo" src="/public/logo.png" aria-label="Logo of Hackerspace Pixelbar" alt="Logo of Hackerspace Pixelbar" />
    </a>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://wiki.pixelbar.nl/index.php/Main_Page">Wiki</a>
  </nav>

  <div class="sidebar-item">
    <a class="social-icon" href="https://discord.gg/b4Dcx8f" target="_blank"><img src="/public/images/social-discord.svg" alt="Join the discord server"/></a>
    <a class="social-icon" href="https://twitter.com/pixelbar010" target="_blank"><img src="/public/images/social-twitter.svg"" height="24" alt="Pixelbar on Twitter"/></a>
    <a class="social-icon" rel="me" href="https://hsnl.social/@pixelbar" target="_blank"><img src="/public/images/social-mastodon.svg" alt="Pixelbar on Mastodon"/></a>
    <a class="social-icon" href="https://facebook.com/pixelbar010" target="_blank"><img src="/public/images/social-facebook.svg" alt="Pixelbar on Facebook"/></a>
    <a class="social-icon" href="https://github.com/pixelbar" target="_blank"><img src="/public/images/social-github.svg" alt="Pixelbar on GitHub"/></a>
    <a class="social-icon" href="https://www.linkedin.com/company/6612405" target="_blank"><img src="/public/images/social-linkedin.svg" alt="Pixelbar on LinkedIn"/></a>
    <a class="social-icon" href="/atom.xml"><img src="/public/images/social-rss.svg" alt="Pixelbar.nl RSS feed"/></a>
    <a class="social-icon" href="mailto:bestuur@pixelbar.nl"><img src="/public/images/social-email.svg" alt="Send an email to pixelbar"/></a>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      <a href="/responsibledisclosure" style="opacity: 0.6; font-size: 11px">Responsible Disclosure</a><br />
      <a href="/privacystatement" style="opacity: 0.6; font-size: 11px">Privacy Statement</a>
    </p>
  </div>
</div>
